<!doctype html>
<header>
  <title>FunW@p - server</title>
  <link href="http://funwap.sfcoding.com/style.css" rel="stylesheet" type="text/css">
</header>
<body>
  <div class='main'>
    <img src="http://funwap.sfcoding.com/fun_logo.jpg"
      style="margin: 0 auto;display: block;">
    </img>
    <!-- DEBUG
    <form action="/" method="POST">
      <textarea name="json"></textarea>
      <input type="submit" value="Submit">
    </form>
    -->
    <p style="
      text-align: center;
      font-size: 50pt;
      color: cornflowerblue;">
      SERVER</p>

    <div class="pulse">Running</div>
  </div>
</body>
